---
const { name, class: className = "" } = Astro.props;
const base = import.meta.env.BASE_URL;

const icons = {
  column: "column.svg",
  temple: "temple.svg",
  scroll: "scroll.svg",
  laurel: "laurel.svg",
  owl: "owl.svg",
  bust: "bust.svg",
  trireme: "trireme.svg",
  vase: "vase.svg",
};

const file = icons[name] ?? icons.column;
---

<span
  class={`icon icon-${name} ${className}`}
  style={`--icon-url: url("${base}/icons/${file}");`}
  aria-hidden="true"
></span>
