---
import Icon from "./Icon.astro";

const { icon = "", kicker = "", title } = Astro.props;
---

<div class="section-heading">
  {icon && <Icon name={icon} />}
  <div>
    {kicker && <p class="kicker">{kicker}</p>}
    <h2>{title}</h2>
  </div>
</div>
